{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "last 2 versions"
      }
    ],
    "@babel/preset-flow"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
