name: Verify NPM Token

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  verify-token:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"

      - name: Verify NPM Token
        run: npm whoami
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
